<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CV21 SERVER - Aimene Bouzara & Naoual Medjoub</title>
    <style>
      img {
        height: 200px;
        width: 400px;
      }
    </style>
  </head>
  <body>
    <h1>CV21REST</h1>
    <h3>Version 1.0</h3>
    <h4><span>Prénom 1: </span> Aimene Hicham</h4>
    <h4><span>Nom 1: </span> Bouzara</h4>
    <h4><span>Prénom 2: </span> Naoual</h4>
    <h4><span>Nom 2: </span> Medjoub</h4>
    <img th:src="@{images/logo_rouen.png}" alt="Logo de l'université" />
  </body>
</html>
